{{#[helpers/layout] htmlWebpackPlugin}}
  <link rel="stylesheet" href="./../assets/vendors/custom/custom.css">
  <script src="./../assets/vendors/fontawesome/js/all.min.js"></script>
  <p class="default-custom">
    This is the about Profil
     <i class="fa fa-car fa-lg default-custom"></i>
     <i class="fa fa-car" style="font-size:60px;color:red;"></i>
    <i class="fas fa-camera"></i> <!-- this icon's 1) style prefix == fas and 2) icon name == camera -->
    <i class="fa fa-user"></i>asd
    <img src="./../assets/images/default.jpeg" class="rounded">
  </p>

{{/[helpers/layout]}} 